@import "tailwindcss";

@theme {
  --color-default: #3e5448;
  --color-offdefault: #5b8249;
  --color-blinding: #eee0c5;
  --color-offblinding: #d7cab2;
  --color-yellowy: #eca313;
  --color-niceorange: #da8021;
  --aspect-card: "7/10";
}
